.background_image{
    position:absolute;
}
.pagecontent{
    position:relative;
    background-color: rgba(255, 255, 255, 0.8);
}
label{
    margin-bottom: 5px;
    font-size: 16px;
    color:brown;
}



.backgroundimage{
    position:absolute;
    height:100%;
    width:100%;
    z-index: 0;
}
.pagecontent{
    position:relative;
    height:100%;
    width:100%;
    z-index: 2;
}